<h1>Лидерборд</h1>
<div>
    <a href="?sort=unigit">По UniGit рейтингу</a> |
    <a href="?sort=lc">По LeetCode рейтингу</a> |
    <a href="?sort=repos">По количеству репо</a> |
    <a href="{% url 'profile'%}">В свой профиль</a>
</div>

{% for p in profiles %}
    <div style="border:1px solid #ccc; padding:10px; margin:5px;">
        <h3>{{ p.github_username|default:"Пользователь" }}</h3>
        <p><strong>UniGit Rating:</strong> {{ p.unigit_rating }}</p>
        <p><strong>LeetCode Rating:</strong> {{ p.leetcode_rating }}</p>
        <a href="{% url 'user_detail' p.user.id %}">Подробнее</a>
    </div>
{% endfor %}